html, body, header, section, article, div, nav, img, ul, li, a{
	margin: 0 auto;
	padding: 0;
	font-family: "Open Sans","Raleway", sans-serif;
	list-style-type: none;
	text-decoration: none;
	font-size: 16px;
}

ul {
	padding-left: 2em;
}

h3 {
	font-weight: 400;
	font-size: 1.5em;
}

h4{
	font-weight: 400;
	font-size: 1.25em;
	margin-bottom: 0.25rem;
}

.content {
	max-width: 50em;
	margin: 0 auto;
	padding: 0 1em;
}

header>h4{
	font-weight: 300;
	font-style: italic;
	margin-bottom: .25em;
}

header>h1{
	margin-top: 0;
	font-weight: 400;
	margin-bottom: .15em;
	font-size: 3em;
}

header>h2{
	font-style: italic;
	color: #B3B3B3;
	margin-top: 0;
	font-weight: 300;
}

#one {
	background-color: #97CCFF;
	padding-top: .5em;
	padding-bottom: 1.5em;
}

#two {
	background-color: #CC8DFF;
	padding-top: .5em;
	padding-bottom: 1.5em;
}

#three {
	background-color: #FFA1CF;
	padding-top: .5em;
	padding-bottom: 1.5em;
}

p#bold{
	font-style: italic;
	color: #fff;
	font-size: 1.25rem;
	margin-top: .5rem;
}

p#bold>a{
	font-size: 1.25rem;
}

#four {
	background-color: #FFCC86;
	padding-top: .5em;
	padding-bottom: 1.5em;
}

#five {
	background-color: #FFFF94;
	padding-top: .5em;
	padding-bottom: 1.5em;
}

#six{
	padding-top: .5em;
	padding-bottom: 3.5em;
}

#part1{
	padding-bottom: 1.25rem;
}

.list-element{
	padding-bottom: 1.25em;
}

.list-element>h3{
	margin-bottom: 0;
}

.list-element>ol>li{
	padding-bottom: .75em;
}

div#video{
	width: 100%;
	padding-bottom: 56.25%;
	position: relative;
	/* padding-top: 30px; */
	height: 0;
	overflow: hidden;
	margin-bottom: 2rem;
}

div#video>iframe, div#video>object, div#video>embed{
	width: 100%;
	height: 100%;
	position: absolute;
}

@media (max-width:600px) {
	section#one>h3{
		margin-top: .5rem;
	}

	section#one{
		padding-bottom
	}
}
